.ccv-table {
  width: 100%;
  table-layout: fixed;

  thead tr td,
  tbody tr td {
    padding: 12px 15px;
    color: white;
    border: 1px solid white;

    @media only screen and (max-width: 500px) {
      font-size: 12px;
    }
  }

  tbody tr {
    cursor: pointer;
  }
}
