.print-f {
  font-size: 14px;
  margin-top: 7px;

  @media only screen and (max-width: 500px) {
    font-size: 12px;
  }
}

.print-filecon {
  margin-top: 15px;
}

.print-li {
  margin-top: 5px;
}

.print-lich {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
