.print-f {
  font-size: 14px;
  margin-top: 7px;

  @media only screen and (max-width: 500px) {
    font-size: 12px;
  }
}

.print-filecon {
  margin-top: 15px;
}

.print-li {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.print-lich {
  cursor: pointer;
  display: block;

  &:hover {
    text-decoration: underline;
  }
}

.print-q {
  @media only screen and (max-width: 500px) {
    font-size: 13px;
  }
}

.print-marker {
  user-select: none;
}

.print-filecon {
  width: 100%;
  box-sizing: border-box;
}

.print-no {
  margin-top: 10px;
}
