.kh-error {
  color: red;
  font-weight: 500;

  @media only screen and (max-width: 500px) {
    font-size: 12px;
  }
}

.kh-keylogmap {
  padding: 0 0 0px 30px;
  overflow: hidden;
  transition: 0.3s ease all;

  @media only screen and (max-width: 500px) {
    padding: 0;
  }
}

.kh-bord {
  border-bottom: 3px solid white;
  padding-bottom: 10px;
  cursor: pointer;
  font-size: 18px;

  @media only screen and (max-width: 650px) {
    font-size: 12px;
  }
}

.kh-bord2 {
  font-size: 18px;
  display: flex;
  align-items: center;

  @media only screen and (max-width: 650px) {
    font-size: 12px;
  }
}

.kh-mapch {
  margin: 30px 0;
  width: 50%;

  @media only screen and (max-width: 1100px) {
    width: 80%;
  }

  @media only screen and (max-width: 500px) {
    width: 100%;
  }
}

.kh-take {
  padding: 12px 20px !important;
  font-size: 20px;
  border-color: rgb(33, 228, 33) !important;
  margin-bottom: 15px;
  max-height: unset !important;

  @media only screen and (max-width: 750px) {
    font-size: 16px;
    padding: 8px 16px;
  }

  @media only screen and (max-width: 500px) {
    font-size: 14px;
    padding: 8px 16px;
  }
}

.kh-return {
  padding: 8px 16px;
  border-color: red;
  background-color: red !important;

  @media only screen and (max-width: 500px) {
    padding: 6px 14px !important;
    font-size: 12px !important;
  }
}

.kh-return2 {
  font-size: 20px;
  border-color: red;
  background-color: red !important;
  padding: 12px 20px !important;

  @media only screen and (max-width: 500px) {
    padding: 6px 14px !important;
    font-size: 12px !important;
  }
}

.kh-t {
  margin: 10px 0;
}

.kh-b {
  border-bottom: 3px solid white;
  padding-bottom: 10px;
  cursor: pointer;
}

.kh-start {
  align-self: flex-start;
  margin-top: 15px;
  width: 100%;
  overflow-y: scroll;
}

.kh-rko {
  max-height: 75vh;
}

.kh-j {
  padding: 0 0 0 25px;
  width: 100%;
  box-sizing: border-box;
  @media only screen and (max-width: 500px) {
    padding: 0;
  }
}

.kh-bordfont {
  font-size: 14px;

  @media only screen and (max-width: 500px) {
    font-size: 12px;
  }
}

.kh-wp {
  max-width: 40%;

  @media only screen and (max-width: 500px) {
    max-width: 33%;
  }
}

.kp-wpi {
  flex-grow: 1;
}

.kh-no {
  margin-top: 20px;
}

.kh-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kh-selectbut {
  padding: 12px 20px;
  width: 220px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  max-height: unset !important;
  text-align: center;
  margin: 10px;
}

.kh-torodivider {
  width: 60%;
  height: 3px;
  margin: 32px 0;
  background-color: white;
}

.kh-toroinner {
  @media only screen and (max-width: 750px) {
    height: 70vh !important;
  }
}

.kh-toromedia {
  @media only screen and (max-width: 650px) {
    font-size: 24px !important;
    padding: 24px 40px !important;
  }
}

.kh-preview {
  max-width: 65%;
  vertical-align: top;
  margin-left: 20px;
}

.kh-ol {
  margin-top: 25px;
  max-height: 60vh;
  overflow-y: scroll;
  padding-bottom: 25px;
}

.kh-previewli {
  margin-bottom: 17px;
  width: 100%;
}

.kh-licon {
  display: flex;
}

.kh-trashcon {
  margin-right: 13px;
}

.kh-img {
  max-width: 60%;
  vertical-align: top;
  margin-left: 10px;
  min-width: 250px;

  @media only screen and (min-width: 650px) {
    width: 45%;
    max-width: unset;
  }
}

.kh-ol2 {
  margin-top: 25px;
  max-height: 75vh;
  overflow-y: scroll;
  padding-bottom: 25px;
}
