.item-parent {
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 10px 0;
  width: 100%;

  @media only screen and (max-width: 530px) {
    display: flex;
    justify-content: center;
  }
}

.item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  padding: 8px 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 12px 0px red;
  transition: all 0.3s ease;
  box-sizing: border-box;
  margin: 0 20px;
  width: calc(100% - 40px);

  &:hover {
    box-shadow: 0px 0px 18px 2px rgba(0, 255, 255);
    transform: scale(1.03);
  }

  @media only screen and (max-width: 530px) {
    width: 100%;
    padding: 8px 10px;
    margin: 0;
  }
}

.item-img {
  width: 150px;
  height: 100px;
  margin-right: 10px;

  @media only screen and (max-width: 530px) {
    max-width: 80px;
    max-height: 80px;
  }
}

.item-t {
  font-size: 17px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media only screen and (max-width: 500px) {
    font-size: 14px;
  }
}

.item-c {
  color: #adadad;
  font-size: 15px;

  @media only screen and (max-width: 500px) {
    font-size: 12px;
  }
}

.item-cli {
  cursor: pointer;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 500px) {
    width: 30px;
  }
}

.item-m {
  margin-right: 6px;
  overflow: hidden;
}

.item-overwrite {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-po {
  margin-left: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.item-i {
  flex: 1 1 0;
  width: 25%;
}
