.item-parent {
  margin: 0 10px 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 12px 0px red;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0px 0px 18px 2px rgba(0, 255, 255);
  }
}

.item-img {
  width: 150px;
  height: 100px;
  margin-right: 10px;

  @media only screen and (max-width: 500px) {
    max-width: 80px;
    max-height: 80px;
  }
}

.item-t {
  font-size: 17px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media only screen and (max-width: 500px) {
    font-size: 14px;
  }
}

.item-c {
  color: #7c7c7c;
  font-size: 15px;

  @media only screen and (max-width: 500px) {
    font-size: 12px;
  }
}

.item-cli {
  cursor: pointer;
  width: 37px;
  height: 37px;

  @media only screen and (max-width: 500px) {
    width: 32px;
    height: 32px;
  }
}

.item-m {
  margin-right: 4px;
  overflow: hidden;
}

.item-overwrite {
  width: 31px;
  height: 31px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;

  @media only screen and (max-width: 500px) {
    width: 26px;
    height: 26px;
  }
}

.item-po {
  margin-left: 7px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.item-i {
  width: 110px;

  @media only screen and (max-width: 500px) {
    width: 90px;
  }
}
