.home-parent {
  position: relative;
  width: 100%;
  margin: 30px 0;
}

.home-q {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  display: flex;
}

.home-inparent {
  width: 50%;
  border: 1px solid #1c1c1c;
  border-radius: 9999px;
  box-sizing: border-box;
  padding: 10px 30px 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media only screen and (max-width: 500px) {
    width: 80%;
  }
}

.home-searchq {
  width: 100%;
  height: 100%;
  margin-left: 8px;
  font-size: 18px;
}

.home-itemmap {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, auto);

  @media only screen and (max-width: 1300px) {
    grid-template-columns: repeat(2, auto);
  }

  @media only screen and (max-width: 850px) {
    display: flex;
    flex-direction: column;
  }
}

.home-add {
  border-radius: 10px;
  padding: 8px 16px;
  background-color: lightgreen;
  color: white;
}

.home-t {
  margin-top: 15px;
}

.home-createoverlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-n {
  width: 100%;
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
}

.homec-inner {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 500px;
  box-sizing: border-box;
  position: relative;

  @media only screen and (max-width: 500px) {
    width: 350px;
  }
}

.homec-input {
  height: 32px;
  width: 100%;
  border-radius: 9999px;
  box-sizing: border-box;
}

.homec-clickback {
  z-index: -1;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.homec-l {
  font-size: 18px;
  font-weight: 500;
}

.homec-inputcontainer {
  border-bottom: 1px solid black;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}

.homec-upload {
  border-radius: 9999px;
  border: 1px solid black;
  padding: 8px 16px;
  margin-top: 20px;
}

.homec-imgpre {
  max-width: 100%;
  margin-top: 15px;
  max-height: 300px;
}

.homec-but {
  padding: 8px 16px;
  border-radius: 4px;
  position: relative;

  &:hover::before {
    opacity: 0.08;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
  }
}

.homec-remove {
  background-color: red;
  margin-top: 15px;
  color: white;
}

.homec-submit {
  background-color: rgb(33, 228, 33);
  color: white;
  margin-top: 15px;
}

.homec-del {
  background-color: red;
  margin-top: 15px;
  color: white;
}

.homec-div {
  margin-top: 20px;
  border-top: 1px solid #edeff1;
  width: 65%;
}
