.pio-parent {
  min-height: 30vh;
}

.pio-inner {
  padding: 10px;
}

.pio-bbot {
  padding-bottom: 5px;
  border-bottom: 3px solid white;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pi.fs {
  font-size: 16px;

  @media only screen and (max-width: 500px) {
    font-size: 14px;
  }
}

// .pio-select {
//   padding: 4px 16px;
//   height: 40px;
//   width: 160px;
//   box-sizing: border-box;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: auto;
//   cursor: pointer;
//   position: relative;
// }

.pio-select {
  width: 100%;
  cursor: pointer;
  border: 1px solid white;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  margin: 10px 8px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pio-selch {
  width: 100%;
  position: absolute;
  left: 0;
  width: calc(100% - 16px);
  top: 45px;
  background: black;
  z-index: 2;
  border: 1px solid white;
  box-sizing: border-box;
  margin: 0 8px;
}

.pio-rel {
  position: relative;
  width: 100%;
  display: flex;
  user-select: none;
  margin-bottom: 10px;
  overflow: unset;
}

.pio-ch {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid white;
  cursor: pointer;

  &:hover {
    background: white;
    color: black;
    transition: 0.3s ease all;
  }
}
