.qr-hov {
  &:hover {
    text-decoration: underline;
  }
}

.qr-i {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.qr-img {
  padding: 20px;
  background-color: white;
}

.qr-u {
  font-size: 22px;
  margin-top: 25px;
}

.qr-ur {
  width: 100%;
  word-wrap: break-word;
  display: inline-block;
  white-space: unset;

  @media only screen and (max-width: 500px) {
    font-size: 13px;
  }
}

.qr-edit {
  background-color: yellow;
  font-size: 16px;
  color: black;
  cursor: pointer;
}

.qr-trash {
  border-radius: 50%;
  border: 2px solid red;
  margin-left: 10px;
}

.qr-mapcontainer {
  @media only screen and (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.qr-name {
  font-size: 18px;
  font-weight: 500;
}
