.t-clock {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;

  &:hover {
    text-decoration: underline;
  }
}

.t-in {
  color: rgb(0, 187, 0);
}

.t-out {
  color: red;
}
